* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(249, 226, 195);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.container {
    padding: 2rem;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #a4f3d8;
    width: 100%;
    max-width: 800px;
    min-height: 400px;
    height: auto;

}

.site-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.input-group {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.input-group input {
    flex: 1;
    padding: 0.75rem;
    border: 2px solid #333;
    border-radius: 6px;
    font-family: inherit;
    font-size: 1rem;
}

.add-btn {
    padding: 0.75rem 1.5rem;
    border: 2px solid #333;
    border-radius: 6px;
    background-color: #00a67e;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.add-btn:hover {
    background-color: #008866;
}

.add-btn:active {
    transform: scale(0.8);
}

.list-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: auto;
}

.task-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem;
    background-color: antiquewhite;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.2s;
    cursor: pointer;
}

.task-item:hover {
    background-color: #faebd7;
}

.task-item input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
}

task-item p {
    flex: 1;
    margin: 0;
}

.task-item input[type="checkbox"]:checked + p{
    text-decoration: line-through;
    color: #999;
}

@media (max-width: 640px) {
    .container {
        padding: 1.5rem;
    }

    .title h1 {
        font-size: 1.5rem;
    }

    .input-group {
        flex-direction: column;
        width: 100%;
    }

    .input-group input {
        width: 100%;
    }

    .add-btn {
        width: 100%;
    }
}